.slider-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.slider-container div {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    scroll-snap-align: start;

    position: relative;

    border: 1px solid transparent;
}

.slider-container div h2 {

    color: white;
}