.habitCard {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    height: 100vh;

    scroll-snap-align: start;

    position: relative;

    text-align: center;

    border: 1px solid transparent;
}

.habitCard h2 {

    color: white;
}