.habitCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
}

.habitCard h2 {
    color: white;
    font-weight: 200;
    font-size: 3.5rem;
    text-align: left;
    margin: 18px;
}