.menuButton {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12rem;
    height: 8rem;

    color: white;

    z-index: 999;
}

.menuButton:hover {
    text-decoration: underline;
}